.b-schedule {
    position: relative;
    display: flex;
    /*align-items: flex-start;*/
    flex-direction: column;
    /*flex-basis: 0;*/
    width: 100%;
    /*flex-wrap: nowrap;*/
    justify-content: flex-end;
}
.schedule {
    display: flex;
    flex-direction: row;
}
.calendar {
    /*text-align: right;*/
}
.btn-calendar {
    border-radius: 0 !important;
    margin-bottom: 2px !important;
}
.schedule__column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    border-radius: 5px;
}
.schedule__column:last-child {
}
.schedule__employee {
    background-color: white;
    padding: 7px 7px 7px 10px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(235, 236, 240);
    font-weight: bold;
}
.schedule__speciality {
    padding: 7px 7px 7px 12px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(235, 236, 240);
    border-bottom: 1px black solid;
}
.schedule__patient-record {
    /*display: flex;*/
}
.schedule__patient-record {
    border-bottom: 1px black solid;
}
.patient-name {
    padding: 5px;
    cursor: pointer;
}
.patient-name:hover {
    text-decoration: underline;
}
.schedule__patient-record:last-child {
    border-bottom: none;
}
.record-time {
    background-color: rgb(255, 255, 255);
    color: rgb(23, 43, 77);
    cursor: pointer;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    height: 24px;
    margin-top: -1px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(235, 236, 240);
    border-image: initial;
    text-decoration: none;
    padding: 12px 12px 12px 15px;
}
.record-time:hover {
    background-color: #ffeec2;
}
.b-schedule-filter {
    position: relative;
    margin-bottom: 10px;
}